<%= form_for @photo, html: {class: 'form-horizontal'} do |f| %>
  <div class="col-sm-offset-3 col-sm-6">
  	<%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <%= f.hidden_field :place_id, value: @place.id %>
  <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
          <%= f.submit 'Upload', class: 'btn btn-primary' %>
      </div>
  </div>
<% end %>
